.eu-owb-order-withdrawal-request {
  display: block;
  clear: both;
  margin-top: 1.33em;

  h3 {
    margin-top: 0;
  }

  .eu-owb-order-withdrawal-request-buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;

    .eu-owb-reject-withdrawal-request-start {
      color: #a00;
      cursor: pointer;
      text-decoration: underline;
    }

    .eu-owb-reject-withdrawal-request-form {
      p.form-field:first-child {
        margin-top: 0 !important;
      }

      #eu-owb-reject-withdrawal-request-submit {
        margin-top: 12px;
      }

      &.hidden {
        display: none !important;
      }
    }
  }
}

.eu-owb-order-item-has-withdrawal {
  border: 1px solid #a00;
  padding: 2px;
  color: #a00;
  border-radius: 4px;
  font-size: .92em !important;
}

.order-status {
  &.status-withdrawn, &.status-full-withdrawal {
    background: #eba3a3;
    color: #570000;
  }
  &.status-pending-wdraw, &.status-partial-withdrawal {
    background: #f8dda7;
    color: #573b00;
  }
}